.filter{
  background:white;
  border: 1px solid #e7eaec;
  width: 20%;
  height: auto;
  position: absolute;
  left : 3%;
  top: 3%;
  padding: 5px;
  border-radius: 5px;
}

.list-container{
  width:100%;
}